body {
	position:fixed;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background:#84A9DB;
}
div {
	font-family: helvetica,arial,sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
#pcan {
	vertical-align:bottom;
}
#pev {
	position:fixed;
	top:0px;
	left:0px;
}
#pcon {
	font-family: courier new, monospace;
	font-size: 10pt;
	color: #00a000;
	background: #000000;
	height: 64px;
	overflow-y: scroll;
	margin: 0; padding: 0;
}
#pctl,#pvl {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 158px;
	height: 120px;
	background: #c0c0c0;
	border-top-right-radius: 6px;
	cursor:default;
	opacity:0.75;
}
#pbc {
	position:fixed;
	top: 0px;
	right: 130px;
	margin:4px;
	color:white;
	background:#000020;
	border-radius:6px;
	opacity:0.75;
	width:64px;
	height:32px;
	line-height:32px;
	text-align:center;
}
#pvl {
	width:64px;
	height:200px;
}
.pctlpr {
	font-size: 8pt;
	font-weight:bold;
	width:58px;
	line-height:40px;
	text-align:right;
	padding-right:2px;
	float:left;
}
#pvlp {
	font-size: 8pt;
	font-weight:bold;
	line-height:40px;
	text-align:right;
	padding-right:6px;
}
.pctlt {
	float:left;
	width:32px;
	height:32px;
	padding: 4px 8px;
}
.pvt {
	position:fixed;
	width:32px;
	height:32px;
	padding: 4px 4px;
	opacity:0.75;
}
.pctlbn,.pctlsz,#seglbn,#segrbn,.ptbbn,.pvlbn {
	height:32px;
	line-height:32px;
	border-radius:4px;
	color:#ffffff;
	background:#000000;
	font-weight:bold;
	font-size:11pt;
	text-align:center;
	cursor:pointer;
}
.pvlbn {
	font-size:9pt;
}
.pctlsz {
	font-size: 10pt;
	color:#000000;
	background:#ffffff;
}

.clr {
	clear:both;
}

#pslbn0,#pslbn1 {
	width:32px;
	height:32px;
	padding:4px;
	position:fixed;
	opacity:0.75;
}
#pslrl,.pvrl {
	position:fixed;
	width:8px;
	height:8px;
	background:#000000;
	border-radius:4px;
	opacity:0.25;
}
#pslkn,.pvkn {
	width:32px;
	height:32px;
	border-radius:4px;
	position:fixed;
	background: rgba(0, 0, 0, 0.75);
	color:white;
	line-height:32px;
	font-size:10pt;
	text-align:center;
}
#pslin,.pvin {
	width:64px;
	height:40px;
	border-radius:4px;
	position:fixed;
	background: rgba(0, 0, 0, 0.75);
	color:white;
	line-height:40px;
	font-size:20pt;
	text-align:center;
}
#ppro {
	width:192px;
	height:64px;
	line-height:64px;
	color:#ffffff;
	background: rgba(0, 0, 0, 0.75);
	border-radius:8px;
	position:fixed;
	font-size:12pt;
	text-align:center;
}
#ptb {
	position:fixed;
	left:0px;
	top:0px;
	width:280px;
	height:40px;
	opacity:0.75;
}
.seglt {
	width:40px;
	height:32px;
	padding: 4px 0px 4px 4px;
	float:left;
}
.segrt {
	width:40px;
	height:32px;
	padding: 4px 4px 4px 0px;
	float:left;
}
#seglbn {
	width:40px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	font-size:10pt;
	background:#003000;
}
#segrbn {
	width:40px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	font-size:10pt;
	color:black;
	background:#808080;
}
.ptbt48,.ptbt64,.ptbt96 {
	width:48px;
	height:32px;
	padding: 4px 8px 4px 8px;
	float:left;
}
.ptbt64 { width:64px; }
.ptbt96 { width:96px; }
.ptbbn {
	font-weight:normal;
}
#pmen {
	position:fixed;
	left:0px;
	top:0px;
	width:640px;
	height:480px;
	background: rgba(0, 0, 0, 0.90);
	border-radius:8px;
}
#pmenlog {
	text-align:center;
	margin-left:159px;
	padding-top:16px;
	padding-bottom:16px;
	width:322px;
	float:left;
}
#pmenhdr {
	float:left;
	width:159px;
	text-align:right;
}
.pmentxt {
	text-align:center;
	color:#c0c0c0;
	font-size:11pt;
	padding:4px;
}
.pmenmod {
	float:left;
	width:128px;
	padding-top:8px;
	padding-left:16px;
	padding-right:16px;
	cursor:pointer;
}
.pmenimg {
	width:128px;
	height:128px;
	border-radius:4px;
}
.pmenmodtxt {
	text-align:center;
	font-size:11pt;
	color:white;
	text-shadow: 0px 0px 4px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=0);	
}
.pmenleg {
	padding-top:16px;
	padding-bottom:4px;
	font-size:10pt;
	color:#808080;
	text-align:center;
}
#pctl,#ptb,#pslbn0,#pslbn1,#pslrl,#pslkn,#pslin, #pcon,#pmen,#ppro,.pvrl,.pvkn,.pvin,.pvt,#pvl,#pbc {
	visibility:hidden;
}